:root {
    box-sizing: border-box;
    font-size: calc(0.2em + 1vw);
    font-family: 'Raleway', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

header {
    background-color: #3a0b0b;
}
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.container{
 height: 100%;
display: grid;
grid-template-columns: 70% 30%;

}

section {
    padding: 2em;
}
.LogSign {
    background-color: #ffffff;
    color: #010d14;
}


.LogSign div {
    margin-bottom: 1em;
width:100%;
align-items: center;
}


img {
    max-width: 500px;
    max-height: 580px;
    object-fit: cover;
}
h2 {
    margin: 0;
   
    font-family: 'IM Fell French Canon', serif;

    font-size: 3em;
}

li {
    list-style: none;
    display: inline;
    align-content: center;
}


a {
    text-decoration: none;
}


.Seccion1{
    background-color: #3a0b0b;

}


.Seccion2{
    background-color: #01111b;   

}

    .Seccion3{
        background-color: #555252;

      }

    footer
    {
        background-color: #000000;
        margin: 0;
       
    }